body {
	margin:0;
	font-family: Arial, Helvetica, sans-serif;
}

.topnav {
	overflow: hidden;
	background-color: #333;
	text-align:center;
}

.topnav a {
	color: #f2f2f2;
	text-align: center;
	padding: 25px 50px;
	text-decoration: none;
	font-size: 17px;
	display:inline-block;
}

.topnav li {
	display:inline;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
	background-color: #4CAF50;
	color: white;
}

.topnav {
	list-style-type: none;
	position: relative;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
	top: 0;
	width: 100%;
}

p {
	padding:0px;
    margin-top:-5px;
    color:#FFFFFF;
}

h1, h2 {
    color:#FFFFFF;
	text-align:center;
}

.footer {
	margin: 0;
	padding:15px;
	overflow: hidden;
	background-color: #333;
	top: 0;
	height:30px;
}

.content {
	padding:100px 200px;
	margin-top:0;
	background-color:#595959;
	height:1000px;
}