body {
	margin:0;
	font-family: Arial, Helvetica, sans-serif;
}

.topnav {
	list-style-type: none;
	position: relative;
	margin: 0;
	padding: 0;
	overflow: hidden;
	text-align: center;
	background-color: #111111;
	top: 0;
	width: 100%;
}


.topnav a {
	color: #eeeeee;
	text-align: center;
	padding: 25px 50px;
	text-decoration: none;
	font-size: 17px;
	display:inline-block;
}

.topnav li {
	display:inline;
}

.topnav a:hover {
	color:#ffffff;
}

.topnav a.active {
	border-bottom: 5px solid #eeeeee;
}

p {
	padding:0px;
 	margin-top:-5px;
 	color:#eeeeee;
}

h1, h2 {
 	color:#eeeeee;
	text-align:center;
}

.content {
	padding:100px 200px;
	margin-top:0;
	background-color:#222222;
	height:1000px;
}

.footer {
	margin: 0;
	padding:15px;
	overflow: hidden;
	background-color: #111111;
	top: 0;
	height:30px;
}


